@page "/employees"



<h3>Empleados</h3>

@if ( employees == null)
{
    <Loading Label="Cargando Empleados por favor espera . . ."/>
}
else
{
        <table border="1">
            <tr>
                <td> </td>
            </tr>
            @foreach (var employee in employees)
            {
                <tr>
                <td>@($"{employee.FirstName} {employee.LastName}")</td>
                </tr>
            }
        </table>
}